
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>订单详情</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/Content/css/iconfont/iconfont.css" rel="stylesheet" />
    <link href="~/Content/css/common.css" rel="stylesheet" />
    <link href="~/Content/css/uc.css" rel="stylesheet" />
    <!-- //for-mobile-apps -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- js -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="~/Scripts/simpleCart.min.js"></script>
    <!-- cart -->
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <!-- for bootstrap working -->
    <script src="~/Scripts/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- animation-effect -->
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <script src="~/Scripts/wow.min.js"></script>
    <script>new WOW().init();</script>
</head>
<body>
    <!-- 头部 -->
    <div class="header">
        <div class="container">
            <div class="header-grid">
                <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <ul>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">example.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
                        <li><i class="glyphicon glyphicon-log-in" aria-hidden="true" style="margin-left:720px"></i><a href="/Login/Login">登陆</a></li>
                        <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="/register/register">注册</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="logo-nav">
                <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                    <h1><a href="/Home/Index"> Latour <span>Enjoy quality</span></a></h1>
                </div>
                <div class="logo-nav-left1">
                    <nav class="navbar navbar-default">
                        <!-- 将品牌和切换功能分组，以获得更好的移动显示效果y -->
                        <div class="navbar-header nav_2">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/Home/Index" class="act">首页</a></li>
                                <!-- 二级菜单 -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">酿造酒 <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>种类</h6></li>
                                                    <li><a href="javascript:;">黄酒</a></li>
                                                    <li><a href="javascript:;">葡萄酒</a></li>
                                                    <li><a href="javascript:;">果酒</a></li>
                                                    <li><a href="javascript:;">啤酒</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>品牌</h6></li>
                                                    <li><a href="javascript:;">Greatwall/长城</a></li>
                                                    <li><a href="javascript:;">Lafite/拉菲</a></li>
                                                    <li><a href="javascript:;">Heineken/喜力</a></li>
                                                    <li><a href="javascript:;">玛莎诺娅</a></li>
                                                    <li><a href="javascript:;">Hoegaarden/福佳</a></li>
                                                    <li><a href="javascript:;">法尔城堡</a></li>
                                                    <li><a href="javascript:;">爱之湾</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>产地</h6></li>
                                                    <li><a href="javascript:;">中国</a></li>
                                                    <li><a href="javascript:;">比利时</a></li>
                                                    <li><a href="javascript:;">墨西哥</a></li>
                                                    <li><a href="javascript:;">意大利</a></li>
                                                    <li><a href="javascript:;">德国</a></li>
                                                    <li><a href="javascript:;">西班牙</a></li>
                                                    <li><a href="javascript:;">美国</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">蒸馏酒 <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>种类</h6></li>
                                                    <li><a href="javascript:;">中国白酒</a></li>
                                                    <li><a href="javascript:;">伏特加</a></li>
                                                    <li><a href="javascript:;">威士忌</a></li>
                                                    <li><a href="javascript:;">白兰地</a></li>
                                                    <li><a href="javascript:;">金酒</a></li>
                                                    <li><a href="javascript:;">朗姆酒</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>品牌</h6></li>
                                                    <li><a href="javascript:;">茅台</a></li>
                                                    <li><a href="javascript:;">五粮液</a></li>
                                                    <li><a href="javascript:;">Bacardi/百加得</a></li>
                                                    <li><a href="javascript:;">Malibu/马利宝</a></li>
                                                    <li><a href="javascript:;">Chivas/芝华士</a></li>
                                                    <li><a href="javascript:;">Hennessy/轩尼诗</a></li>
                                                    <li><a href="javascript:;">Remy Martin/人头马</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>产地</h6></li>
                                                    <li><a href="javascript:;">中国</a></li>
                                                    <li><a href="javascript:;">巴西</a></li>
                                                    <li><a href="javascript:;">意大利</a></li>
                                                    <li><a href="javascript:;">秘鲁</a></li>
                                                    <li><a href="javascript:;">德国</a></li>
                                                    <li><a href="javascript:;">法国</a></li>
                                                    <li><a href="javascript:;">日本</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">配制酒 <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>种类</h6></li>
                                                    <li><a href="javascript:;">竹叶青</a></li>
                                                    <li><a href="javascript:;">蛇酒</a></li>
                                                    <li><a href="javascript:;">麝香酒</a></li>
                                                    <li><a href="javascript:;">参茸酒</a></li>
                                                    <li><a href="javascript:;">开胃酒</a></li>
                                                    <li><a href="javascript:;">利口酒</a></li>
                                                    <li><a href="javascript:;">苦酒</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>品牌</h6></li>
                                                    <li><a href="javascript:;">柳宗元</a></li>
                                                    <li><a href="javascript:;">汾酒</a></li>
                                                    <li><a href="javascript:;">杏花村</a></li>
                                                    <li><a href="javascript:;">ZUKIBO/致尊坊</a></li>
                                                    <li><a href="javascript:;">CAMPARI/金巴利</a></li>
                                                    <li><a href="javascript:;">Baileys/百利</a></li>
                                                    <li><a href="javascript:;">Cointreau/君度</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>产地</h6></li>
                                                    <li><a href="javascript:;">中国</a></li>
                                                    <li><a href="javascript:;">法国</a></li>
                                                    <li><a href="javascript:;">德国</a></li>
                                                    <li><a href="javascript:;">意大利</a></li>
                                                    <li><a href="javascript:;">美国</a></li>
                                                    <li><a href="javascript:;">加拿大</a></li>
                                                    <li><a href="javascript:;">俄罗斯</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li><a href="/User/User">个人中心</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="logo-nav-right">
                    <div class="search-box">
                        <div id="sb-search" class="sb-search">
                            <form>
                                <input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"> </span>
                            </form>
                        </div>
                    </div>
                    <!-- 搜索-scripts -->
                    <script src="~/Scripts/classie.js"></script>
                    <script src="~/Scripts/uisearch.js"></script>
                    <script>
                        new UISearch(document.getElementById('sb-search'));
                    </script>
                    <!-- //搜索-scripts -->
                </div>
                <div class="header-right">
                    <div class="cart box_1">
                        <a href="/Cart/Cart">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
                                </div>
                                <img src="/Images/Index/bag.png" alt="" />
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">购物车</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //头部 -->

    <div class="wrapper uc-router">
    </div>

    <div style=" height :230px; border :1px solid #808080;width :902px; margin-left :200px;">
        <div style=" float :left;width :300px;height :230px; border :1px solid #808080;">
            <div style=" width :100%; border-bottom:1px solid #808080;height :50px;text-align :center ;"><h3 style=" line-height :50px;">订单信息</h3></div>
            <div style=" width :100%;height :200px;">
                <div><div style=" float :left ;">收货地址：</div><div style=" float :left ;">拉图尔,86-13397627411,湖南省 岳阳市 岳阳楼区 郭镇乡 学院路岳阳职业技术学院 ,414000</div></div>
                <div><div style=" float :left ;">买家留言：</div><div style=" float :left ;">xxxxxxxxxxxxxxxxxxxxxxxx</div></div>
                <div><div style=" float :left ;">订单编号：</div><div style=" float :left ;">1947584672162364.......</div></div>
                <div><div style=" float :left ;">商家：</div><div style=" float :left ;">啦啦啦</div></div>
            </div>
        </div>
        <div style=" float :left ; border :1px solid #808080;width :600px;height :230px;">
            <div style=" margin-top :50px;margin-left :20px;">订单状态：已评价</div>
            <div style=" margin-top :20px;margin-left :20px;">
                物流：韵达快递运单号:3810991761516
                2019-06-12 14:54:49 您已在岳阳职院大学生创业街菜鸟驿站完成取件，感谢使用菜鸟驿站，期待再次为您服务。
            </div>
        </div>
    </div>

    <div style=" height :150px; border :1px solid #808080;width :902px; margin-left :200px;margin-top :10px;">
        <table class="uc-table"></table>
    </div> 

        <!-- 底部 -->
        <div class="footer">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
                        <h3>关于我们</h3>
                        <p>
                            联系我们
                            <span>平台理念</span>
                            <span>平台资质</span>
                        </p>
                    </div>
                    <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
                        <h3>售后服务</h3>
                        <ul>
                            <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>退换货说明</li>
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>购物须知</li>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>关于专票</li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
                        <h3>Flickr Posts</h3>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/13.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/14.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/15.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/16.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/13.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/14.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/15.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/16.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/13.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/14.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/15.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-left">
                            <a href="single.html"><img src="~/Images/Index/16.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
                        <h3>Blog Posts</h3>
                        <div class="footer-grid-sub-grids">
                            <div class="footer-grid-sub-grid-left">
                                <a href="single.html"><img src="~/Images/Index/9.jpg" alt=" " class="img-responsive" /></a>
                            </div>
                            <div class="footer-grid-sub-grid-right">
                                <h4><a href="single.html">culpa qui officia deserunt</a></h4>
                                <p>Posted On 25/3/2016</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="footer-grid-sub-grids">
                            <div class="footer-grid-sub-grid-left">
                                <a href="single.html"><img src="~/Images/Index/10.jpg" alt=" " class="img-responsive" /></a>
                            </div>
                            <div class="footer-grid-sub-grid-right">
                                <h4><a href="single.html">Quis autem vel eum iure</a></h4>
                                <p>Posted On 25/3/2016</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
                    <h2><a href="/Home/Index">Latour <span>Enjoy quality</span></a></h2>
                </div>
                <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
                    <p>版权所有 &copy; 2019.Latour 保留所有权利</p>
                </div>
            </div>
        </div>
        <!-- //底部 -->
</body>
<script src="~/Scripts/js/jquery.js"></script>
<link href="~/Scripts/js/icheck/style.css" rel="stylesheet" />
<script src="~/Scripts/js/icheck/icheck.min.js"></script>
<script src="~/Scripts/js/laydate/laydate.js"></script>
<script src="~/Scripts/js/layer/layer.js"></script>
<script src="~/Scripts/js/global.js"></script>
<script>
    $(function () {
        A();
        $('.check').iCheck({
            radioClass: 'sty2-radio'
        });

        laydate({
            elem: '#birthday',
            format: 'YYYY/MM',
            festival: true
        });
    });
function A() {
         //页面加载显示商品
    $.ajax({
        url: "/Order/Load",
        type: "get",
        dataType: "json",
        success: function (rs) {
            for (var i = 0; i < rs.length; i++) {
                var my_html = '<tr class="hd order-meta">' +
                    ' <td colspan="4">' +
                    '<div class="left">'+ rs[i].Ordertime+'订单号: 1947584672162364</div>' +
                    '<div class="right">店铺：<a href="">'+rs[i].CommodityId+'</a> <span class="del iconfont icon-shanchu"></span></div>' +
                    '</td>' +
                    '</tr>' +
                    '<tr class="order-goods">' +
                    '<td>' +
                    '<div class="goods-info">' +
                    '<img class="figure" src="'+rs[i].Commoditypictures+'" alt="" />' +
                    '<a class="text-info refund" href="uc-apply-refund.html">申请退货</a>' +
                    '<div class="info">' +
                    '<div>'+rs[i].Tradename+'</div>' +
                    '<div>'+rs[i].Itempricing+'元×1</div>' +
                    '</div>' +
                    '</div>' +
                    '</td>' +
                    '<td>' +
                    '金额：<span class="text-theme fwb">'+rs[i].Itempricing+'元</span>' +
                    '</td>' +
                    '<td>' +
                    '<span class="status">快件已签收</span><br />' +
                    '</td>' +
                    '<td>' +
                    '<a href="" class="ui-btn-theme uc-btn-md">追加评论</a>' +
                    '</td>' +
                    '</tr>';
                $(".uc-table").append(my_html);
            }
        }
    });
    }
</script>
</html>