
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Furniture</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link rel="icon" type="image/x-icon" href="~/Images/Index/logo.jpg" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- js -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="~/Scripts/simpleCart.min.js"></script>
    <!-- cart -->
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <!-- for bootstrap working -->
    <script src="~/Scripts/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- animation-effect -->
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->
</head>

<body>
    <!-- 头部 -->
    <div class="header">
        <div class="container">
            <div class="header-grid">
                <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <ul>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">example.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
                        <li><i class="glyphicon glyphicon-log-in" aria-hidden="true" style="margin-left:720px"></i><a href="/Login/Login">登陆</a></li>
                        <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="/register/register">注册</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="logo-nav">
                <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                    <h1><a href="/Home/Index"> Latour <span>Enjoy quality</span></a></h1>
                </div>
                <div class="logo-nav-left1">
                    <nav class="navbar navbar-default">
                        <!-- 将品牌和切换功能分组，以获得更好的移动显示效果y -->
                        <div class="navbar-header nav_2">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/Home/Index" class="act">首页</a></li>
                                <!-- 二级菜单 -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">酿造酒 <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>种类</h6></li>
                                                    <li><a href="javascript:;">黄酒</a></li>
                                                    <li><a href="javascript:;">葡萄酒</a></li>
                                                    <li><a href="javascript:;">果酒</a></li>
                                                    <li><a href="javascript:;">啤酒</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>品牌</h6></li>
                                                    <li><a href="javascript:;">Greatwall/长城</a></li>
                                                    <li><a href="javascript:;">Lafite/拉菲</a></li>
                                                    <li><a href="javascript:;">Heineken/喜力</a></li>
                                                    <li><a href="javascript:;">玛莎诺娅</a></li>
                                                    <li><a href="javascript:;">Hoegaarden/福佳</a></li>
                                                    <li><a href="javascript:;">法尔城堡</a></li>
                                                    <li><a href="javascript:;">爱之湾</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>产地</h6></li>
                                                    <li><a href="javascript:;">中国</a></li>
                                                    <li><a href="javascript:;">比利时</a></li>
                                                    <li><a href="javascript:;">墨西哥</a></li>
                                                    <li><a href="javascript:;">意大利</a></li>
                                                    <li><a href="javascript:;">德国</a></li>
                                                    <li><a href="javascript:;">西班牙</a></li>
                                                    <li><a href="javascript:;">美国</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">蒸馏酒 <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>种类</h6></li>
                                                    <li><a href="javascript:;">中国白酒</a></li>
                                                    <li><a href="javascript:;">伏特加</a></li>
                                                    <li><a href="javascript:;">威士忌</a></li>
                                                    <li><a href="javascript:;">白兰地</a></li>
                                                    <li><a href="javascript:;">金酒</a></li>
                                                    <li><a href="javascript:;">朗姆酒</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>品牌</h6></li>
                                                    <li><a href="javascript:;">茅台</a></li>
                                                    <li><a href="javascript:;">五粮液</a></li>
                                                    <li><a href="javascript:;">Bacardi/百加得</a></li>
                                                    <li><a href="javascript:;">Malibu/马利宝</a></li>
                                                    <li><a href="javascript:;">Chivas/芝华士</a></li>
                                                    <li><a href="javascript:;">Hennessy/轩尼诗</a></li>
                                                    <li><a href="javascript:;">Remy Martin/人头马</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>产地</h6></li>
                                                    <li><a href="javascript:;">中国</a></li>
                                                    <li><a href="javascript:;">巴西</a></li>
                                                    <li><a href="javascript:;">意大利</a></li>
                                                    <li><a href="javascript:;">秘鲁</a></li>
                                                    <li><a href="javascript:;">德国</a></li>
                                                    <li><a href="javascript:;">法国</a></li>
                                                    <li><a href="javascript:;">日本</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">配制酒 <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>种类</h6></li>
                                                    <li><a href="javascript:;">竹叶青</a></li>
                                                    <li><a href="javascript:;">蛇酒</a></li>
                                                    <li><a href="javascript:;">麝香酒</a></li>
                                                    <li><a href="javascript:;">参茸酒</a></li>
                                                    <li><a href="javascript:;">开胃酒</a></li>
                                                    <li><a href="javascript:;">利口酒</a></li>
                                                    <li><a href="javascript:;">苦酒</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>品牌</h6></li>
                                                    <li><a href="javascript:;">柳宗元</a></li>
                                                    <li><a href="javascript:;">汾酒</a></li>
                                                    <li><a href="javascript:;">杏花村</a></li>
                                                    <li><a href="javascript:;">ZUKIBO/致尊坊</a></li>
                                                    <li><a href="javascript:;">CAMPARI/金巴利</a></li>
                                                    <li><a href="javascript:;">Baileys/百利</a></li>
                                                    <li><a href="javascript:;">Cointreau/君度</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>产地</h6></li>
                                                    <li><a href="javascript:;">中国</a></li>
                                                    <li><a href="javascript:;">法国</a></li>
                                                    <li><a href="javascript:;">德国</a></li>
                                                    <li><a href="javascript:;">意大利</a></li>
                                                    <li><a href="javascript:;">美国</a></li>
                                                    <li><a href="javascript:;">加拿大</a></li>
                                                    <li><a href="javascript:;">俄罗斯</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li><a href="/User/User">个人中心</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="logo-nav-right">
                    <div class="search-box">
                        <div id="sb-search" class="sb-search">
                            <form>
                                <input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"> </span>
                            </form>
                        </div>
                    </div>
                    <!-- 搜索-scripts -->
                    <script src="~/Scripts/classie.js"></script>
                    <script src="~/Scripts/uisearch.js"></script>
                    <script>
                        new UISearch(document.getElementById('sb-search'));
                    </script>
                    <!-- //搜索-scripts -->
                </div>
                <div class="header-right">
                    <div class="cart box_1">
                        <a href="/Cart/Cart">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
                                </div>
                                <img src="/Images/Index/bag.png" alt="" />
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">购物车</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //头部 -->
    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li class="active">所有种类</li>
            </ol>
        </div>
    </div>
    <div class="products">
        <div class="container">
            <div class="col-md-4 products-left">
                <div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
                    <script type='text/javascript'>
                        //<![CDATA[
                        $(window).load(function () {
                            $("#slider-range").slider({
                                range: true,
                                min: 0,
                                max: 100000,
                                values: [10000, 60000],
                                slide: function (event, ui) {
                                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                                }
                            });
                            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));


                        });//]]>
                    </script>
                    <script src="~/Scripts/jquery-ui.min.js"></script>
                    <!---->
                </div>
            </div>
            <div class="col-md-8 products-right" style=" margin-left :-150px;">
                <div class="products-right-grid">
                    <div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
                        <div class="clearfix"> </div>
                    </div>
                    <div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">
                        <img src="~/Images/Index/28.jpg" alt=" " class="img-responsive" />@*大图片*@
                        <div class="products-right-grids-position1">
                            <h4>2019</h4>
                            <p>
                                Latour looks forward to your Dao
                            </p>
                        </div>
                    </div>
                </div>
                <div class="products-right-grids-bottom">
                    <div class="col-md-4 products-right-grids-bottom-grid">
                        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="single.html" class="product-image"><img src="~/Images/Index/19.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                    <a href="single.html">快速浏览</a>
                                </div>
                                <div class="new-collections-grid1-right products-right-grids-pos-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="single.html">标题</a></h4>
                            <p>Vel illum qui dolorem.</p>
                            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                                <p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">加入购物车</a></p>
                            </div>
                        </div>
                        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="single.html" class="product-image"><img src="~/Images/Index/7.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                    <a href="single.html">快速浏览</a>
                                </div>
                                <div class="new-collections-grid1-right products-right-grids-pos-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="single.html">Media Cabinet</a></h4>
                            <p>Vel illum qui dolorem.</p>
                            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                                <p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">加入购物车</a></p>
                            </div>
                        </div>
                        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="single.html" class="product-image"><img src="~/Images/Index/20.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                    <a href="single.html">快速浏览</a>
                                </div>
                                <div class="new-collections-grid1-right products-right-grids-pos-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="single.html">Entertainment Unit</a></h4>
                            <p>Vel illum qui dolorem.</p>
                            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                                <p><i>$585</i> <span class="item_price">$489</span><a class="item_add" href="#">加入购物车</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 products-right-grids-bottom-grid">
                        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="single.html" class="product-image"><img src="~/Images/Index/20.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                    <a href="single.html">快速浏览</a>
                                </div>
                                <div class="new-collections-grid1-right products-right-grids-pos-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="single.html">2 Seater Sofa</a></h4>
                            <p>Vel illum qui dolorem.</p>
                            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                                <p><i>$280</i> <span class="item_price">$250</span><a class="item_add" href="#">加入购物车</a></p>
                            </div>
                        </div>
                        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="single.html" class="product-image"><img src="~/Images/Index/20.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                    <a href="single.html">快速浏览</a>
                                </div>
                                <div class="new-collections-grid1-right products-right-grids-pos-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="single.html">Street Lamp</a></h4>
                            <p>Vel illum qui dolorem.</p>
                            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                                <p><i>$500</i> <span class="item_price">$480</span><a class="item_add" href="#">加入购物车</a></p>
                            </div>
                        </div>
                        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="single.html" class="product-image"><img src="~/Images/Index/20.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                    <a href="single.html">快速浏览</a>
                                </div>
                                <div class="new-collections-grid1-right products-right-grids-pos-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="single.html">Street Lamp</a></h4>
                            <p>Vel illum qui dolorem.</p>
                            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                                <p><i>$585</i> <span class="item_price">$489</span><a class="item_add" href="#">加入购物车</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 products-right-grids-bottom-grid">
                        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="single.html" class="product-image"><img src="~/Images/Index/7.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                    <a href="single.html">快速浏览</a>
                                </div>
                                <div class="new-collections-grid1-right products-right-grids-pos-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="single.html">Anklet</a></h4>
                            <p>Vel illum qui dolorem.</p>
                            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                                <p><i>$305</i> <span class="item_price">$280</span><a class="item_add" href="#">加入购物车</a></p>
                            </div>
                        </div>
                        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="single.html" class="product-image"><img src="~/Images/Index/7.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                    <a href="single.html">快速浏览</a>
                                </div>
                                <div class="new-collections-grid1-right products-right-grids-pos-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="single.html">Stone Bangles</a></h4>
                            <p>Vel illum qui dolorem.</p>
                            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                                <p><i>$389</i> <span class="item_price">$299</span><a class="item_add" href="#">加入购物车</a></p>
                            </div>
                        </div>
                        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="single.html" class="product-image"><img src="~/Images/Index/7.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                    <a href="single.html">快速浏览</a>
                                </div>
                                <div class="new-collections-grid1-right products-right-grids-pos-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="~/Images/Index/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="single.html">Analog Wall Clock</a></h4>
                            <p>Vel illum qui dolorem.</p>
                            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                                <p><i>$585</i> <span class="item_price">$489</span><a class="item_add" href="#">加入购物车</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- 底部 -->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
                    <h3>关于我们</h3>
                    <p>
                        联系我们
                        <span>平台理念</span>
                        <span>平台资质</span>
                    </p>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
                    <h3>售后服务</h3>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>退换货说明</li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>购物须知</li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>关于专票</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
                    <h3>Latour 帖子</h3>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
                    <h3>Latour 博客</h3>
                    <div class="footer-grid-sub-grids">
                        <div class="footer-grid-sub-grid-left">
                            <a href="single.html"><img src="~/Images/Single/con-cp1.png" alt=" " class="img-responsive" style=" width :76.5px;height :102px;" /></a>
                        </div>
                        <div class="footer-grid-sub-grid-right">
                            <h4><a href="single.html">拉图尔红酒</a></h4>
                            <p>发表于2016年5月25日</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="footer-grid-sub-grids">
                        <div class="footer-grid-sub-grid-left">
                            <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :76.5px;height :102px;" /></a>
                        </div>
                        <div class="footer-grid-sub-grid-right">
                            <h4><a href="single.html">拉图尔白兰地</a></h4>
                            <p>
                                发表于2016年5月25日

                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
                <h2><a href="/Home/Index">Latour <span>Enjoy quality</span></a></h2>
            </div>
            <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
                <p>版权所有 &copy; 2019.Latour 保留所有权利</p>
            </div>
        </div>
    </div>
    <!-- //底部 -->
</body>
</html>