
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>商品详情</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- js -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="~/Scripts/simpleCart.min.js"></script>
    <!-- cart -->
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <!-- for bootstrap working -->
    <script src="~/Scripts/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- animation-effect -->
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <script src="~/Scripts/wow.min.js"></script>
    <script>new WOW().init();</script>
    <!-- //animation-effect -->
</head>
<body>
    <!-- 头部 -->
    <div class="header">
        <div class="container">
            <div class="header-grid">
                <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <ul>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">example.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
                        <li><i class="glyphicon glyphicon-log-in" aria-hidden="true" style="margin-left:720px"></i><a href="login.html">登陆</a></li>
                        <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="register.html">注册</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="logo-nav">
                <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                    <h1><a href="index.html"> Latour <span>Enjoy quality</span></a></h1>
                </div>
                <div class="logo-nav-left1">
                    <nav class="navbar navbar-default">
                        <!-- 将品牌和切换功能分组，以获得更好的移动显示效果y -->
                        <div class="navbar-header nav_2">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="index.html" class="act">首页</a></li>
                                <!-- 二级菜单 -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">酿造酒 <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>种类</h6></li>
                                                    <li><a href="products.html">黄酒</a></li>
                                                    <li><a href="products.html">葡萄酒</a></li>
                                                    <li><a href="products.html">果酒</a></li>
                                                    <li><a href="products.html">啤酒</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>品牌</h6></li>
                                                    <li><a href="products.html">Greatwall/长城</a></li>
                                                    <li><a href="products.html">Lafite/拉菲</a></li>
                                                    <li><a href="products.html">Heineken/喜力</a></li>
                                                    <li><a href="products.html">玛莎诺娅</a></li>
                                                    <li><a href="products.html">Hoegaarden/福佳</a></li>
                                                    <li><a href="products.html">法尔城堡</a></li>
                                                    <li><a href="products.html">爱之湾</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>产地</h6></li>
                                                    <li><a href="products.html">中国</a></li>
                                                    <li><a href="products.html">比利时</a></li>
                                                    <li><a href="products.html">墨西哥</a></li>
                                                    <li><a href="products.html">意大利</a></li>
                                                    <li><a href="products.html">德国</a></li>
                                                    <li><a href="products.html">西班牙</a></li>
                                                    <li><a href="products.html">美国</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">蒸馏酒 <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>种类</h6></li>
                                                    <li><a href="products.html">中国白酒</a></li>
                                                    <li><a href="products.html">伏特加</a></li>
                                                    <li><a href="products.html">威士忌</a></li>
                                                    <li><a href="products.html">白兰地</a></li>
                                                    <li><a href="products.html">金酒</a></li>
                                                    <li><a href="products.html">朗姆酒</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>品牌</h6></li>
                                                    <li><a href="products.html">茅台</a></li>
                                                    <li><a href="products.html">五粮液</a></li>
                                                    <li><a href="products.html">Bacardi/百加得</a></li>
                                                    <li><a href="products.html">Malibu/马利宝</a></li>
                                                    <li><a href="products.html">Chivas/芝华士</a></li>
                                                    <li><a href="products.html">Hennessy/轩尼诗</a></li>
                                                    <li><a href="products.html">Remy Martin/人头马</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>产地</h6></li>
                                                    <li><a href="products.html">中国</a></li>
                                                    <li><a href="products.html">巴西</a></li>
                                                    <li><a href="products.html">意大利</a></li>
                                                    <li><a href="products.html">秘鲁</a></li>
                                                    <li><a href="products.html">德国</a></li>
                                                    <li><a href="products.html">法国</a></li>
                                                    <li><a href="products.html">日本</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">配制酒 <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>种类</h6></li>
                                                    <li><a href="products.html">竹叶青</a></li>
                                                    <li><a href="products.html">蛇酒</a></li>
                                                    <li><a href="products.html">麝香酒</a></li>
                                                    <li><a href="products.html">参茸酒</a></li>
                                                    <li><a href="products.html">开胃酒</a></li>
                                                    <li><a href="products.html">利口酒</a></li>
                                                    <li><a href="products.html">苦酒</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>品牌</h6></li>
                                                    <li><a href="furniture.html">柳宗元</a></li>
                                                    <li><a href="furniture.html">汾酒</a></li>
                                                    <li><a href="furniture.html">杏花村</a></li>
                                                    <li><a href="furniture.html">ZUKIBO/致尊坊</a></li>
                                                    <li><a href="furniture.html">CAMPARI/金巴利</a></li>
                                                    <li><a href="furniture.html">Baileys/百利</a></li>
                                                    <li><a href="furniture.html">Cointreau/君度</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><h6>产地</h6></li>
                                                    <li><a href="furniture.html">中国</a></li>
                                                    <li><a href="furniture.html">法国</a></li>
                                                    <li><a href="furniture.html">德国</a></li>
                                                    <li><a href="furniture.html">意大利</a></li>
                                                    <li><a href="furniture.html">美国</a></li>
                                                    <li><a href="furniture.html">加拿大</a></li>
                                                    <li><a href="furniture.html">俄罗斯</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li><a href="mail.html">所有种类</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="logo-nav-right">
                    <div class="search-box">
                        <div id="sb-search" class="sb-search">
                            <form>
                                <input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"> </span>
                            </form>
                        </div>
                    </div>
                    <!-- search-scripts -->
                    <script src="~/Scripts/classie.js"></script>
                    <script src="~/Scripts/uisearch.js"></script>
                    <script>new UISearch(document.getElementById('sb-search'));</script>
                    <!-- //search-scripts -->
                </div>
                <div class="header-right">
                    <div class="cart box_1">
                        <a href="checkout.html">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
                                </div>
                                <img src="images/bag.png" alt="" />
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">购物车</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //头部 -->
    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li class="active">商品详情</li>
            </ol>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- single -->
    <div class="single">
        <div class="container">
            <div class="col-md-4 products-left">
                <div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
                    <script type='text/javascript'>//<![CDATA[
                        $(window).load(function () {
                            $("#slider-range").slider({
                                range: true,
                                min: 0,
                                max: 100000,
                                values: [10000, 60000],
                                slide: function (event, ui) {
                                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                                }
                            });
                            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));


                        });//]]></script>
                    <script src="~/Scripts/jquery-ui.min.js"></script>
                    <!---->
                </div>
            </div>
            <div class="col-md-8 single-right" style=" margin-left :-150px;">
                <div class="col-md-5 single-right-left animated wow slideInUp" data-wow-delay=".5s">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="/Images/Single/00.jpg">
                                <div class="thumb-image"> <img src="~/Images/Single/00.jpg" data-imagezoom="true" class="img-responsive" style="width :286px;height :400px;"> </div>
                            </li>
                            <li data-thumb="/Images/Single/02.jpg">
                                <div class="thumb-image"> <img src="~/Images/Single/02.jpg" data-imagezoom="true" class="img-responsive" style="width :286px;height :400px;"> </div>
                            </li>
                            <li data-thumb="/Images/Single/con-cp1.png">
                                <div class="thumb-image"><img src="~/Images/Single/con-cp1.png" data-imagezoom="true" class="img-responsive" style="width :286px;height :400px;"> </div>
                            </li>
                        </ul>
                    </div>
                    <!-- flixslider -->
                    <script src="~/Scripts/jquery.flexslider.js"></script>
                    <link href="~/Content/flexslider.css" rel="stylesheet" />
                    <script>// Can also be used with $(document).ready()
                        $(window).load(function () {
                            $('.flexslider').flexslider({
                                animation: "slide",
                                controlNav: "thumbnails"
                            });
                        });

/**/</script>
                    <!-- flixslider -->
                </div>
                <div class="col-md-7 single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
                    <h3>商品标题</h3>
                    <h4><span class="item_price">$550</span></h4>
                    <div class="rating1">
                        <span class="starRating">
                            <input id="rating5" type="radio" name="rating" value="5">
                            <label for="rating5">5</label>
                            <input id="rating4" type="radio" name="rating" value="4">
                            <label for="rating4">4</label>
                            <input id="rating3" type="radio" name="rating" value="3" checked>
                            <label for="rating3">3</label>
                            <input id="rating2" type="radio" name="rating" value="2">
                            <label for="rating2">2</label>
                            <input id="rating1" type="radio" name="rating" value="1">
                            <label for="rating1">1</label>
                        </span>
                    </div>
                    <div class="description">
                        <h5><i>描述</i></h5>
                        <p>
                            哈哈
                        </p>
                    </div>
                    <div class="color-quality">
                        <div class="color-quality-left">
                            <h5>纯度</h5>
                            <ul>
                                <li><a href="#"><span></span>30%</a></li>
                                <li><a href="#" class="brown"><span></span>50%</a></li>
                                <li><a href="#" class="purple"><span></span>70%</a></li>
                                <li><a href="#" class="gray"><span></span>90%</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="occasion-cart" style=" margin-top :10px;">
                        <a class="item_add" href="#">添加到购物车 </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">描述</a></li>
                            <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">评论(2)</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
                                <h5>产品简介</h5>
                                <p>
                                    嘻嘻嘻
                                    <span>哈哈哈</span>
                                </p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
                                <div class="bootstrap-tab-text-grids">
                                    <div class="bootstrap-tab-text-grid">
                                        <div class="bootstrap-tab-text-grid-left">
                                            <img src="images/4.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="bootstrap-tab-text-grid-right">
                                            <ul>
                                                <li><a href="#">用户</a></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>回复</a></li>
                                            </ul>
                                            <p>
                                                啦啦啦
                                            </p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="bootstrap-tab-text-grid">
                                        <div class="bootstrap-tab-text-grid-left">
                                            <img src="images/5.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="bootstrap-tab-text-grid-right">
                                            <ul>
                                                <li><a href="#">用户1</a></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>回复</a></li>
                                            </ul>
                                            <p>
                                                啊啊啊
                                            </p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="add-review">
                                        <h4>添加评论</h4>
                                        <form>
                                            <input type="text" value="名字" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                                            <input type="email" value="邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                                            <input type="text" value="标题" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" required="">
                                            <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">内容...</textarea>
                                            <input type="submit" value="提交">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="dropdown1" aria-labelledby="dropdown1-tab">
                                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="dropdown2" aria-labelledby="dropdown2-tab">
                                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
                    <h3>关于我们</h3>
                    <p>
                        拉图尔酒庄<span>
                            啦啦啦
                        </span>
                    </p>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
                    <h3>联系信息</h3>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>岳阳职业技术学院</li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="123456789qq.com">123456789qq.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>1234 567 8910</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
                    <h3>Latour 帖子</h3>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :75.39px;height :50.25px;" /></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
                    <h3>Latour 博客</h3>
                    <div class="footer-grid-sub-grids">
                        <div class="footer-grid-sub-grid-left">
                            <a href="single.html"><img src="~/Images/Single/con-cp1.png" alt=" " class="img-responsive" style=" width :76.5px;height :102px;" /></a>
                        </div>
                        <div class="footer-grid-sub-grid-right">
                            <h4><a href="single.html">拉图尔红酒</a></h4>
                            <p>发表于2016年5月25日</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="footer-grid-sub-grids">
                        <div class="footer-grid-sub-grid-left">
                            <a href="single.html"><img src="~/Images/Single/conlist-cp1.jpg" alt=" " class="img-responsive" style=" width :76.5px;height :102px;" /></a>
                        </div>
                        <div class="footer-grid-sub-grid-right">
                            <h4><a href="single.html">拉图尔白兰地</a></h4>
                            <p>
                                发表于2016年5月25日

                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
                <h2><a href="index.html">Latour <span>Enjoy quality</span></a></h2>
            </div>
            <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
                <p>版权所有 &copy; 2019.岳阳职业技术学院1705 </p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- zooming-effect -->
    <script src="~/Scripts/imagezoom.js"></script>
    <!-- //zooming-effect -->
</body>
</html>